body {
    background-color: #14181c;
    color: white;
}

h1 {
    font-weight: bold;
}

textarea {
    background-color: #1f1f1f;
    color: white;
    border: none;
}

select {
    background-color: #1f1f1f;
    color: white;
}


.banner-topo {
    position: relative;
    height: 500px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden; 
}


.banner-img {
    transform: scale(1.1); 
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;

   
    -webkit-mask-image: radial-gradient(
        ellipse at center,
        rgba(0,0,0,1) 40%,
        rgba(0,0,0,0.7) 70%,
        rgba(0,0,0,0) 100%
    );

    mask-image: radial-gradient(
        ellipse at center,
        rgba(0,0,0,1) 40%,
        rgba(0,0,0,0.7) 70%,
        rgba(0,0,0,0) 100%
    );
}

.container {
    margin-top: -120px;
    position: relative;
    z-index: 2;
}

.banner-blur img {
    transform: scale(1.2); 
}