header{
    text-align: center;
}

#logo-cabecalho{
    
    text-align: left;
}

#titulo-cabecalho{
    text-align: center;
}

#navegacao-cabecalho{
    
    text-align: right;
}

table{
    width: 100%;
}

thead{
    background-color: rgb(218, 218, 214);
}

nav a {
    color: black !important;
}

td{
    background-color: #edfd0d;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color:#000000
    
}

body{
    background-color: rgb(255, 255, 255);
}

a{
    margin: 4px;
    color: #39a70d;    
}



.cabecalho {
    padding: 0px 0; 
    display: flex;
    flex-direction: column;
        
}

.barra-de-navegacao {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.barra-de-navegacao > span {
    display: flex;
    align-items: center;
    text-align: left;
}

.barra-de-navegacao > nav {
    display: flex;
    justify-content: space-between;
}

.barra-de-navegacao > nav > a {
    font-size: larger;
    text-decoration: none;
    padding: 1rem;

}

.barra-de-navegacao > nav > a:hover {
    background-color: #cee2c6;
}
.marvel-timeline {
    background-color: #0d0d0d;
    padding: 60px 20px;
    color: #fff;
}

.marvel-timeline .timeline-title {
    color: #e62429;
    font-weight: bold;
}


.timeline-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.timeline-container::after {
    content: "";
    position: absolute;
    width: 4px;
    background-color: #e62429;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.timeline-item {
    width: 50%;
    padding: 20px;
    position: relative;
}


.timeline-item.left {
    left: 0;
    text-align: right;
}

.timeline-item.right {
    left: 50%;
}


.timeline-content {
    background-color: #353434;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #e62429;
}


.timeline-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #585858;
    border: 3px solid #e62429;
    border-radius: 50%;
    top: 30px;
    z-index: 10;
}

.timeline-item.left::before {
    right: -8px;
}

.timeline-item.right::before {
    left: -8px;
}


.timeline-content h3 {
    color: #e62429;
    margin-bottom: 5px;
}

.timeline-content h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
.personagem-img {
    width: 1000%;
    height: 240px;
    object-fit: cover;
    background-color: #ca0000;
    
}
.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

body{
    margin: 0;
}



.barra-direita{
    position: fixed;
    top: 0;
    width: 40px;
    height: 100vh;

    background-color: #dc3545;
    background-image: radial-gradient(black 15%, transparent 16%);
    background-size: 12px 12px;

    z-index: -1; 
}

.barra-esquerda{
    left: 0;
}

.barra-direita{
    right: 0;
}

.footer-marvel{
    background-color: #111;     
    color: white;               
    font-weight: bold;
    border-top: 4px solid #dc3545; 
}

